<div class="container-fluid">
  <div class="footer-container text-center boxes row gy-5">
    <div class="text-white col-md-4 col-sm-12">
      <h3 class="text-uppercase">Location</h3>
      <p class="mb-3">2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <h3 class="text-uppercase text-white">AROUND THE WEB</h3>
      <div class="icons text-white text-center">
        <a href="https://www.facebook.com/" class="text-white" target="_blank"
          ><i
            class="fa-brands fa-facebook me-3 border border-1 border-white p-2 rounded-circle"
          ></i
        ></a>
        <a href="https://x.com/?lang=en" class="text-white" target="_blank"
          ><i
            class="fa-brands fa-twitter me-3 border border-1 border-white p-2 rounded-circle"
          ></i
        ></a>
        <a href="https://www.linkedin.com" class="text-white" target="_blank"
          ><i
            class="fa-brands fa-linkedin-in me-3 border border-1 border-white p-2 rounded-circle"
          ></i
        ></a>
        <a href="https://www.google.com/" class="text-white" target="_blank"
          ><i
            class="fa-solid fa-globe border border-1 border-white p-2 rounded-circle"
          ></i
        ></a>
      </div>
    </div>
    <div class="text-white col-md-4 col-sm-12">
      <h3>ABOUT FREELANCER</h3>
      <p>
        Freelance is a free to use, licensed Bootstrap theme created by Route
      </p>
    </div>
  </div>
</div>

<div class="copy-right text-white py-4 text-center">
  <p class="m-0">Copyright © Your Website 2021</p>
</div>
