<div class="body text-center pb-5">
  <img src="avataaars.png" alt="Personal Photo" class="peronal-photo" />
  <div class="caption position-relative">
    <h2 class="text-white text-uppercase fw-bold fs-1">Start Framework</h2>
    <div class="d-flex justify-content-center align-items-center">
      <div class="bg-white white-line"></div>
      <i class="fa-solid fa-star text-white star px-3"></i>
      <div class="bg-white white-line"></div>
    </div>
    <p class="text-white my-3 pb-5">
      Graphic Artist - Web Designer - Illustrator
    </p>
  </div>
</div>
