<div class="body">
  <div class="title text-center">
    <h2 class="text-white text-uppercase fw-bold fs-1">About Component</h2>
    <div class="d-flex justify-content-center align-items-center">
      <div class="bg-white white-line"></div>
      <i class="fa-solid fa-star text-white star px-3"></i>
      <div class="bg-white white-line"></div>
    </div>
  </div>
  <div class="caption mt-4">
    <div class="container ps-5 pe-5">
      <div class="row text-white">
        <p class="col-md-6">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
        <p class="col-md-6">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</div>
