<div class="text-center py-5 body mb-5">
  <div class="caption position-relative">
    <h2 class="text-uppercase fw-bold fs-1">portfolio component</h2>
    <div class="d-flex justify-content-center align-items-center">
      <div class="white-line"></div>
      <i class="fa-solid fa-star star px-3"></i>
      <div class="white-line"></div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row g-4">
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-0 mb-sm-4 Sbox"
        data-bs-toggle="modal"
        data-bs-target="#pic1"
      >
        <div class="px-4">
          <div class="position-relative">
            <img src="img1.png" class="w-100 rounded-3" alt="" />
            <div class="icon rounded-3 w-100 h-100 position-absolute">
              <i
                class="text-white position-absolute fa-solid fa-plus fa-6x"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-0 mb-sm-4 Sbox"
        data-bs-toggle="modal"
        data-bs-target="#pic2"
      >
        <div class="px-4">
          <div class="position-relative">
            <img src="img2.png" class="w-100 rounded-3" alt="" />
            <div class="icon rounded-3 w-100 h-100 position-absolute">
              <i
                class="text-white position-absolute fa-solid fa-plus fa-6x"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-0 mb-sm-4 Sbox"
        data-bs-toggle="modal"
        data-bs-target="#pic3"
      >
        <div class="px-4">
          <div class="position-relative">
            <img src="img3.png" class="w-100 rounded-3" alt="" />
            <div class="icon rounded-3 w-100 h-100 position-absolute">
              <i
                class="text-white position-absolute fa-solid fa-plus fa-6x"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-0 mb-sm-4 Sbox"
        data-bs-toggle="modal"
        data-bs-target="#pic4"
      >
        <div class="px-4">
          <div class="position-relative">
            <img src="img1.png" class="w-100 rounded-3" alt="" />
            <div class="icon rounded-3 w-100 h-100 position-absolute">
              <i
                class="text-white position-absolute fa-solid fa-plus fa-6x"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-0 mb-sm-4 Sbox"
        data-bs-toggle="modal"
        data-bs-target="#pic5"
      >
        <div class="px-4">
          <div class="position-relative">
            <img src="img2.png" class="w-100 rounded-3" alt="" />
            <div class="icon rounded-3 w-100 h-100 position-absolute">
              <i
                class="text-white position-absolute fa-solid fa-plus fa-6x"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-0 mb-sm-4 Sbox"
        data-bs-toggle="modal"
        data-bs-target="#pic6"
      >
        <div class="px-4">
          <div class="position-relative">
            <img src="img3.png" class="w-100 rounded-3" alt="" />
            <div class="icon rounded-3 w-100 h-100 position-absolute">
              <i
                class="text-white position-absolute fa-solid fa-plus fa-6x"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 1 -->
<div
  class="modal fade"
  id="pic1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img1.png" class="w-100 rounded-3" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 -->
<div
  class="modal fade"
  id="pic2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img2.png" class="w-100 rounded-3" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Modal 3 -->
<div
  class="modal fade"
  id="pic3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img3.png" class="w-100 rounded-3" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 -->
<div
  class="modal fade"
  id="pic4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img1.png" class="w-100 rounded-3" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Modal 5 -->
<div
  class="modal fade"
  id="pic5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img2.png" class="w-100 rounded-3" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Modal 6 -->
<div
  class="modal fade"
  id="pic6"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img3.png" class="w-100 rounded-3" alt="" />
      </div>
    </div>
  </div>
</div>
